.claimContainer{
    max-width: 42rem;
}


.home h1{
    text-align: center;
    color:#8DC63F;
    font-size: 3vw;
    padding-top: 2rem;
}
.home p{
    font-size: 2vw;
    text-align: center;
    color: #333;
}

/** Card Styles **/
a{
    color: #8DC63F;
}
a:hover{
    color: white ;
    text-decoration: none;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
      margin: auto;
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    border: none;
    border-radius: 4px;
    padding: 3rem;
    font-size: 2vw;
    text-align: center;
    /* background-image: linear-gradient(to right, #009677, #8DC63F); */
    color: #8DC63F;
  }
  .card:hover{
    background-image: linear-gradient(to right, #009677, #8DC63F);
    color: white;
  }
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  button{
    background-image: linear-gradient(to right, #009677, #8DC63F);
    color: white;
  }

  .branding img{
      max-width: 100%;
  }